@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --red: #9a2827;
  --light: #f1f3fa;
  --dark: #1c1c1c;
  --yellow: #d79e2f;
  --blue: #095c7e;
  --grey: #f8f9fa;
  --font01: "Archivo", sans-serif;
  --cfont: "Archivo", sans-serif;
  --headfont: "Archivo", sans-serif;
  --roboto: "Archivo", sans-serif;
}
.accordion-item {
  border: unset !important;
}
body {
  font-size: 14px;
  font-family: "Archivo", sans-serif !important;
  color: var(--dark);
  background-color: var(--bs-white);
  font-display: swap;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo", sans-serif !important;
}
.hero-text,
.subtitle,
.title,
.title_01 {
  font-family: "Archivo", sans-serif !important;
}
.copyright a:hover,
.text-yellow {
  color: var(--yellow) !important;
}
.hero-text,
.text-red,
.view-more-btn:hover {
  color: var(--red);
}
.bg-red,
.bg_grad_01,
.your_path .border {
  background-color: var(--red);
}

.bg-black {
  background-color: var(--dark);
}

.text-yellow {
  color: var(--yellow);
}

.border-bottom_01 {
  border-bottom: unset;
}
.hero-text {
  font-weight: 400;
  font-size: 24px;
}
.hero-text_02 {
  font-size: 34px;
}
.title,
.title_01,
.usp_01 .rank {
  font-size: 26px;
  text-align: center;

  padding-bottom: 15px;
}
.subtitle {
  line-height: 1.5em;
  font-size: 14px;
}
.bg-dark {
  background: var(--dark) !important;
}
.bg-blue {
  background: var(--blue) !important;
}

.text-blue {
  color: var(--blue);
}
.bg-grey {
  background: var(--grey) !important;
}
.bg_testimonals,
.hero-img {
  background-blend-mode: multiply;
}
.bg-yellow,
.keyhigh {
  background-color: var(--yellow);
}
.back-to-top {
  display: none;
}
.hero-img {
  height: 300px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg_testimonals {
  background: #00000099;
}
.bg_apply {
  background-repeat: no-repeat;
  height: 180px;
  background-size: cover;
  background-position: center;
  border-radius: unset;
}
.data {
  position: absolute;
  bottom: 0;
}
.data span,
.data_01 p {
  font-size: 12px;
}
.data img {
  border: solid 1px var(--red);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px !important;
}
.data_01 {
  border-radius: 0 0 25px 25px;
  border: solid 1px var(--red);
}
.zoho_form {
  height: 570px;
  width: 100%;
}
.h_partner {
  border-radius: unset;
  background-color: var(--red);
}
.h_partner.h_part_apply {
  background-image: url(../img/bg1.webp);
  background-position: top;
}
.h_partner .h_btn,
.h_partner h5 {
  text-align: center;
}
#spinner {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease-out,
    visibility 0 linear 0.5s;
  z-index: 99999;
}
#spinner.show {
  transition:
    opacity 0.5s ease-out,
    visibility 0 linear 0;
  visibility: visible;
  opacity: 1;
}
.btn {
  transition: 0.5s;
  font-weight: 500;
}
.bg-red-gradient {
  background-image: linear-gradient(180deg, #47143d 0, #632156 100%);
}
.gallary .one,
.gallary .three,
.unlock_01 {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.gallary .two {
  height: 265px;
  width: 100%;
  object-fit: cover;
}
.navbar .navbar-nav .nav-link {
  margin-right: 4px;
  padding: 10px;
  color: var(--dark);
  font-weight: 500;
  outline: 0;
}
.center_tagline th {
  color: #fff;
  background-color: var(--yellow) !important;
  text-transform: capitalize !important;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--bs-white);
  border-bottom: solid 2px var(--bs-white);
  font-weight: bold;
}
.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Archivo", sans-serif !important;
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}
.h_nav {
  background: linear-gradient(to right, #fff 50%, #481a39 50%);
  padding: 0 18px;
}
.c_btn,
.c_btn:hover,
.program_02 .accordion-button {
  background-color: var(--red);
}

.copyright {
  background-color: var(--grey);
}
.copyright img {
  filter: invert();
}
.hero_mobile img {
  object-fit: cover;
  height: 475px;
  object-position: right;
}
.program_01 .icon {
  height: 40px;
  width: auto;
  object-fit: contain;
  filter: invert(1);
}
.border_01 {
  border-right: 1px solid var(--bs-white);
  border-bottom: 1px solid var(--bs-white);
  padding-bottom: 10px;
}
.form_img_01 {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.border_01:nth-child(3),
.border_01:nth-child(4) {
  border-bottom: none;
}
.border_01:nth-child(2),
.border_01:nth-child(4) {
  border-right: none;
}
.award_02 .bg-yellow-01:hover {
  background-color: #e3b34a;
  cursor: pointer;
  transition: left 0.5s;
}
.bg-yellow-01:hover img {
  opacity: 0.1;
}
.bg-yellow-01:hover .content {
  display: flex !important;
  position: absolute;
  color: #fff;
  right: 46%;
  top: 50%;
  z-index: 9;
}
@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }
  .navbar .navbar-nav {
    margin-top: 15px;
    border-top: 1px solid #eee;
  }
}
.copyright {
  color: #b0b9ae;
}
.c_btn,
.c_btn:hover {
  color: var(--light);
}
.hero_logo_01 {
  height: 40px;
  object-fit: contain;
}
.box_shadow img {
  height: 145px;
  width: 100%;
  object-fit: contain;
}
.border-red {
  border: 1px solid var(--red);
}
.border-red_01 {
  border-top: 1px solid var(--light);
  border-bottom: 1px solid var(--light);
}
.about_logo img {
  height: 100px;
  width: 100%;
  object-fit: contain;
}
.company_01 img {
  height: 55px;
  object-fit: contain;
}
.testimonals_01 .owl-nav {
  display: none;
  position: absolute;
  right: 0;
  bottom: -45px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.testimonals_01 .owl-nav .owl-next,
.testimonals_01 .owl-nav .owl-prev {
  margin-left: 15px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  border-radius: 50%;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  transition: 0.5s;
  background-color: #cbcbcb80;
}
.gallary_01 .owl-nav .owl-next,
.gallary_01 .owl-nav .owl-prev,
.placement_01 .owl-nav .owl-next,
.placement_01 .owl-nav .owl-prev {
  width: 35px;
  height: 35px;
  color: var(--secondary);
  border-radius: 50%;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  transition: 0.5s;
}
.placement_01 .owl-nav {
  display: none;
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.placement_01 .owl-nav .owl-next,
.placement_01 .owl-nav .owl-prev {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.gallary_01 .owl-nav .owl-next,
.gallary_01 .owl-nav .owl-prev {
  position: absolute;
  bottom: 0;
  justify-content: center;
  background-color: #ffffff80;
}
.gallary_01 .owl-nav .owl-prev {
  display: none;
  left: 38%;
  display: flex;
  align-items: center;
}
.gallary_01 .owl-nav .owl-next {
  display: none;
  right: 38%;
  display: flex;
  align-items: center;
}
.c_btn {
  border: solid 1px var(--blue);
  background-color: var(--blue);
  font-size: 14px;
  border-radius: 25px;
}
.c_btn:hover {
  border: 1px solid var(--grey);
}
.right_button {
  width: 100%;
  top: unset;
  bottom: 0;
  right: 0;
  position: fixed;
  border-radius: 0 !important;
  z-index: 1021;
  background-color: var(--red);
  border: solid;
}
.modal.show .modal-dialog {
  top: 8%;
}
.banner_text {
  position: absolute;
  top: 25%;
}
.admission .nav-link,
.specilization_tab .nav-link {
  color: var(--bs-dark);
  font-weight: 500;
  border: solid var(--yellow) 1px;
  width: 100%;
  border-radius: 15px;
}
.admission .nav-link.active {
  color: var(--bs-white);
  border-radius: 10px;
  background-color: var(--yellow);
  border: solid var(--yellow) 1px;
  font-weight: 700;
}
.program_02 .accordion-button {
  color: #fff;
  border-radius: 15px !important;
}
.ChildTabContent .nav-link.active .program_01 img,
.admission .nav-link:hover img,
.filter,
.program_01:hover img,
.program_02 .accordion-button::after {
  filter: invert(0);
}
.program_02 .accordion-button:focus {
  box-shadow: unset !important;
}
.admission .nav-link.active.red_act:before,
.specilization_tab .nav-link.active.red_act:before {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 20%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--yellow);
}
.modal-content .form_01 {
  padding: 0 !important;
  margin: 0 !important;
}
.ChildTabContent .nav-link.active .program_01 .arrow,
.admission .nav-link:hover .arrow,
.program_01:hover .arrow {
  display: flex !important;
}
.ChildTabContent .tab-content,
.mobilePrograms {
  padding: 15px;
}
.ChildTabContent .tab-content button.accordion-button {
  font-size: 16px;
  font-weight: 700;
}
.ChildTabContent .tab-content .accordion-item,
.ChildTabContent .tab-content button.accordion-button,
.mobilePrograms .accordion-item,
.mobilePrograms button.accordion-button {
  background-color: #f1f1f1 !important;
  color: #000 !important;
  margin-bottom: 15px;
}
.mobilePrograms .accordion-item .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: var(--red);
  box-shadow: unset;
}
.ChildTabContent .tab-content .accordion-body {
  padding: 10px 20px;
}
.ChildTabContent .tab-content .accordion-item .accordion-button {
  border-radius: 0;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;
  padding-left: 16px;
}
.mobilePrograms .accordion-button {
  border-radius: 0;
  border: 1px solid #fff;
  position: relative;
  overflow: hidden;
}
.ChildTabContent .tab-content .accordion-button:not(.collapsed)::after,
.mobilePrograms .accordion-button:not(.collapsed)::after {
  transform: rotate(0);
  background-image: url(../img/program/close.png);
  background-size: 10px 10px !important;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
  padding: 14px 15px;
}
.ChildTabContent .tab-content .accordion-button::after,
.mobilePrograms .accordion-button::after {
  background-size: 15px 20px !important;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 23px;
  padding: 15px;
}
.ChildTabContent .tab-content .accordion-item:last-of-type .accordion-collapse {
  border-radius: 0 !important;
}
.ChildTabContent .tab-content .accordion-button:focus,
.accordion-button:focus {
  box-shadow: none;
}
span.brownTriangle {
  width: 15px;
  height: 25px;
  background-color: var(--yellow);
  transform: rotate(45deg);
  position: absolute;
  left: -12px;
}
.ChildTabContent .tab-content h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}
.myCert {
  overflow: hidden;
  position: relative;
  background-color: #f1f1f1;
}
.iconArrow {
  height: 30px;
  width: 30px;
  background-color: #fff;
  display: flex;
  border-radius: 15px;
  padding: 5px;
  justify-content: center;
}
.iconArrow img {
  width: 15px;
  height: 100%;
}
.owl-carousel .owl-stage {
  display: flex;
}
.testimonial-items {
  display: flex;
  flex: 1 0 auto;
  height: 100%;
  border: solid 1px #095c7e;
}
.your_path .col-lg-6 {
  display: grid;
}
.bg_applynew {
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
  height: 400px;
}
.form_03 {
  height: 440px;
  border-radius: 25px 25px 0 0;
}
.form_bg_01 {
  border-radius: 0 0 25px 25px;
  border: solid 2px var(--red);
}
.back-to-top {
  position: fixed;
  display: flex !important;
  justify-content: center;
  align-items: center;
  right: 30px;
  bottom: 50px;
  z-index: 99;
  font-size: 16px;
  width: 48px;
  height: 48px;
  border: solid 1px var(--grey);
  background-color: var(--red) !important;
  color: var(--bs-white) !important;
}
.hero_section {
  cursor: pointer;
}
.your_path_img {
  height: 40px;
  object-fit: contain;
}
@media (min-width: 768px) {
  .hero_mobile img {
    object-fit: cover;
    height: 860px;
  }
  .bg_applynew {
    height: unset;
  }
  .zoho_form {
    height: 675px;
    width: 100%;
  }
  .bg_apply,
  .gallary .one,
  .gallary .three {
    height: 300px;
  }
  .form_03 {
    height: 580px;
  }
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: unset;
}
.left_button {
  width: 50%;
  top: unset;
  bottom: 0;
  left: 0;
  position: fixed;
  border-radius: 0 !important;
  z-index: 1021;
}
.specilization_tab .nav-link.active,
.specilization_tab .nav-link:hover {
  color: var(--bs-white);
  border-radius: 10px;
  background-color: var(--yellow);
  border: solid var(--yellow) 1px;
  font-weight: 700;
}
.admission .nav-link.active,
.admission .nav-link:hover {
  background-color: var(--red);
  background-color: var(--red);
  cursor: pointer;
  color: var(--bs-white);
}
.learning_001 {
  background: #ffffffa3;
  position: absolute;
  top: 42%;
  z-index: 1;
  width: 70%;
  right: 14%;
}
.modalLogo img {
  height: 100%;
  width: 70px;
  object-fit: contain;
}
.modalLogo h4 {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
.modalLogo {
  width: 100%;
}
.modal-header .btn-close {
  /* margin: 0; */
}

.university-text {
  color: #0000000a;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: bold;
}
.university-text:hover {
  cursor: pointer;
  color: var(--red);
}
.bg-img-01 {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  height: 470px;
}

.gallery-img01 {
  /* height: 270px; */
  object-fit: contain;
}

.usp_01 {
  padding: 10px 15px;
  background: linear-gradient(to bottom, #fff 25%, var(--yellow) 20%);
}
.bg_applynew,
.form_03 {
  background-size: cover;
}
.usp_01 p {
  text-transform: uppercase;
  font-size: 15px;
}

.programsNew li {
  display: grid;
}
.container-fluid.h_nav.px-lg-5.sticky-top {
  background: #fff;
}
@media (min-width: 992px) {
  
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 14px;
}
  .container-fluid.h_nav.px-lg-5.sticky-top {
    background: #00000047;
  }
  .mt-001 {
    margin-top: -6rem;
  }
  .programsNew li {
    display: list-item;
  }
  .usp_01 p {
    font-size: unset;
  }
  .usp_01 {
    padding: 10px 15px;
    background: linear-gradient(to bottom, #fff 34%, var(--yellow) 35%);
  }
  .modal-content {
    width: 80% !important;
  }
  .gallery_carousel_01 .owl-stage {
    padding-top: 60px;
    padding-bottom: 60px;
    /* padding-left: 200px; */
  }
  .gallery-img01 {
    height: 240px;
    object-fit: cover;
  }
  .bg-img-01 {
    background-position: right;
    background-size: contain;
    height: unset;
  }
  .university-text {
    font-size: 100px;
  }
  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
  .hero_logo_01 {
    height: 60px;
  }
  .gallary .one,
  .gallary .three {
    height: 200px;
  }
  .bg_applynew {
    background-size: cover;
    background-position: top;
    border-radius: 10px;
    height: unset;
  }
  .back-to-top {
    bottom: 30px;
  }
  .border-end_01:not(:last-child) {
    border-right: 1px solid var(--red);
  }
  .testimonals_02 {
    border-radius: 25px 0 0 25px;
    height: unset;
  }
  .form_bg_01 {
    border-radius: 0 25px 25px 0;
    border: solid 2px var(--red);
  }
  .border_01:not(:last-child) {
    border-right: 1px solid var(--bs-white);
    border-bottom: unset;
    padding-bottom: 10px;
  }
  .border_01:nth-child(4) {
    border-right: unset !important;
  }
  .bg_apply {
    height: unset;
    border-radius: 0 50rem 50rem 0;
    border-bottom-left-radius: unset !important;
    border-top-left-radius: unset !important;
  }
  .modal-body .zoho_form {
    height: 545px;
  }
  .placement_01 .owl-nav .owl-next,
  .placement_01 .owl-nav .owl-prev {
    width: 35px;
    height: 35px;
    font-size: 15px;
    background-color: #8080808c;
  }
  .placement_01 .owl-nav {
    bottom: 15px;
  }
  .border-bottom_01 {
    border-bottom: solid 1px var(--red);
  }
  .border-bottom_02 {
    border-bottom: solid 1px var(--bs-white);
  }
  .company_01 img {
    height: 80px;
  }
  .mt_10 {
    margin-top: -7rem;
  }
  .mb-90 {
    margin-top: 3rem;
    margin-bottom: 8rem;
  }
  .zoho_form {
    height: 570px;
  }
  .form_03 {
    height: unset;
    border-radius: 25px 0 0 25px;
  }
  .hero-img {
    height: 90vh;
  }
  .h_nav {
    padding: 0px 0px;
    background: linear-gradient(to right, #fff 66.25%, #481a39 34%);
  }
  .title,
  .usp_01 .rank {
    font-size: 40px;
    text-align: start;
  }
  .subtitle {
    font-size: 12px;
  }
  .title_01 {
    font-size: 34px;
  }
  .your_path .box_003 {
    background-color: var(--bs-white) !important;
  }
  .right_button {
    width: unset;
    top: 46%;
    right: 17px;
    left: unset;
    bottom: unset;
    transform: rotate(90deg) translate(50%);
    transform-origin: right;
    border-radius: 0 0 10px 10px !important;
    color: #fff;
    background-color: var(--red);
    border: solid 1px var(--red);
  }
}
.scholarship-category {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  color: #fff;
}
.red {
  background-color: #e63946;
}
.yellow {
  background-color: #f4a261;
  color: #000;
}
.green {
  background-color: #2a9d8f;
}
.blue {
  background-color: #457b9d;
}
.lime {
  background-color: #7ed957;
  color: #000;
}
.category-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 700;
}
.scholarship-list li {
  padding: 5px 0;
}
.view-more-btn {
  color: var(--yellow);
}
.box_003 {
  background-color: #fff !important;
}

/* //// */
.life-carousel {
  position: relative;
  overflow: hidden;
}

.life-carousel .owl-stage {
  display: flex;
  align-items: center;
  padding: 60px 0;
}

.life-carousel .owl-item {
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
  margin: 0 -80px;
  z-index: 1;
}

.life-carousel .life-item img {
  height: 150px;
  border-radius: 16px;
  transition: all 0.5s ease;
  object-fit: cover;
}

/* Near center */
.life-carousel .owl-item.active:not(.center) img {
  height: 250px;
  opacity: 0.7;
}

/* Center */
.life-carousel .owl-item.center {
  z-index: 5;
}

.life-carousel .owl-item.center img {
  height: 400px;
  transform: scale(1.05);
  opacity: 1;
}

/* Responsive */
@media (max-width: 768px) {
  .life-carousel .owl-item.center img {
    height: 280px;
  }
  .life-carousel .owl-item.active:not(.center) img {
    height: 180px;
  }
}

/*########################*/
/* Gallery Carousel */
/*########################*/

.gallery_carousel_01 .owl-nav .owl-prev,
.gallery_carousel_01 .owl-nav .owl-next,
.testimonials_01 .owl-nav .owl-prev,
.testimonials_01 .owl-nav .owl-next {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e4ed !important;
  background-color: #dbdbdb !important;
}
.gallery_carousel_01 .owl-nav img {
  width: 20px;
}
.gallery_carousel_01 .owl-nav .owl-next:hover,
.gallery_carousel_01 .owl-nav .owl-prev:hover,
.testimonials_01 .owl-nav .owl-next:hover,
.testimonials_01 .owl-nav .owl-prev:hover {
  /* background-color: #b79652 !important; */
  color: rgb(19, 18, 18);
}
.gallery_carousel_01 .owl-nav .owl-next:hover img,
.gallery_carousel_01 .owl-nav .owl-prev:hover img {
  filter: invert(1);
}
.gallery_carousel_01 .owl-nav,
.testimonials_01 .owl-nav {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  justify-content: center;
  /* margin-left: -200px; */
}
.gallery_carousel_01 .owl-stage {
  display: flex;
}
.gallery_carousel_01 .owl-item {
  display: flex;
  flex: 1 0 auto;
}
.gallery_carousel_01 .item {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%;
  width: 100%;
}
/*.gallery_carousel_01 .active.center img{*/
/*    width: 140% !important;*/
/*    position: relative;*/
/*    z-index:10;*/
/*    left: -20%;*/
/*    top: -20%;*/
/*}*/
/* Normal slides */
.gallery_carousel_01 .owl-item {
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
  transform: scale(0.8);
  opacity: 1;
  /*margin-right:-50px !important;*/
}
.gallery_carousel_01 .owl-item.active {
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
  transform: scale(1);
  opacity: 1;
  z-index: 2;
}
/* Center slide */
.gallery_carousel_01 .owl-item.center {
  transform: scale(1.45);
  opacity: 1;
  z-index: 3;
}
.gallery_carousel_01 .owl-stage-outer {
  /* margin-left: -290px; */
}
/*  */

.custom-section {
  /* background: #f5f5f5; */
}

/* LEFT BOX */
.left-box {
  color: #fff;
  padding: 40px 30px;
}

.left-box .title {
  font-size: 28px;
  font-weight: 700;
}

.left-box ul li {
  margin-bottom: 10px;
  /* font-size: 16px; */
}

.left-box ul li span {
  font-weight: bold;
  margin-right: 10px;
  font-size: 16px;
}

/* MIDDLE BOX */
.middle-box {
  background: url("../img/why/3.png") center/cover no-repeat;
  position: relative;
  padding: 30px;
  height: 445px !important;
}

.middle-box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 43%);
}

.overlay-content {
  position: relative;
  z-index: 2;
}

.middle-box h2 {
  font-weight: 700;
}

.middle-box ul li {
  margin-bottom: 10px;
}

/* RIGHT BOX */
.right-box {
  /* background: #155e75; */
  color: #fff;
  padding: 40px 30px;
}

.right-box h2 {
  font-weight: 700;
}

.apply-btn {
  background: #c62828;
  color: #fff;
  border-radius: 25px;
  padding: 10px 25px;
  border: none;
}

.apply-btn:hover {
  background: #a61b1b;
}

/*  */
.testimonial-card {
  border: 1px solid #2c6c84;
  padding: 25px;
  background: #fff;
  min-height: 280px;
}

.name {
  font-weight: 700;
}

.role {
  font-size: 14px;
  margin-bottom: 10px;
}

.text {
  font-size: 15px;
  line-height: 1.6;
}

.placed {
  font-weight: 600;
  margin-top: 10px;
}

.profile-img {
  max-width: 180px;
  filter: grayscale(100%);
}

.owl-nav {
  text-align: center;
  margin-top: 20px;
}

.owl-nav button {
  width: 40px;
  height: 40px;
  background: #ddd !important;
  border-radius: 50%;
  margin: 5px;
}
.mobilePrograms img {
  filter: invert();
}
.choose_us_sect img {
  height: 45px;
}
.testimonial-wrapper img {
  height: 80px;
  object-fit: contain;
}

.testimonial_read_more {
  color: var(--red);
}

.testimonial_read_more:hover {
  color: var(--red);
}
.mt-50 {
  margin-top: -30px;
}
.border-red {
  border: solid 2px var(--blue);
}
.border-bottom-01 {
  border-bottom: 2px solid var(--blue);
}
.mb-001 {
  margin-bottom: -7rem;
}

/*  */

.custom_tabs .nav-link {
  background: #eef0f5;
  color: #000;
  border-radius: 0;
  font-weight: 500;
  border: solid 1px #80808059;
}
.custom_tabs .nav-link:hover {
  background: var(--red);
  color: white;
}
.custom_tabs .nav-link.active {
  background: #0f5c6e;
  color: #fff;
}

.custom_tab_content {
  background: #f5f5f5;
  border: 1px solid #ccc;
}

.program_box {
  background: #eaeaea;
}

.selection_header {
  background: #0f5c6e;
  font-weight: 600;
}

.selection_box {
  /* background: #eaeaea; */
}
.intake_table {
  width: 100%;
}

.intake_row {
  margin-bottom: 6px;
}

/* LEFT SIDE */
.intake_left {
  background-color: #155e75; /* dark blue */
  color: #fff;
  padding: 12px 15px;
  font-size: 14px;
  font-weight: 500;
}

/* RIGHT SIDE */
.intake_right {
  background-color: #e5e5e5; /* light grey */
  padding: 12px 15px;
  font-size: 14px;
  color: #000;
}

/* Optional: make it look tighter like design */
.intake_left,
.intake_right {
  display: flex;
  align-items: center;
}

.program_header {
  background-color: #155e75;
  color: #fff;
  padding: 12px 15px;
}

.program_header h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.program_header p {
  margin: 0;
  font-size: 13px;
}

.program_row {
  display: flex;
  margin-top: 6px;
}

/* LEFT RED BOX */
.program_left {
  width: 40%;
  background-color: #a61c0f;
  color: #fff;
  padding: 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

/* RIGHT GREY BOX */
.program_right {
  width: 65%;
  background-color: #e5e5e5;
  padding: 15px;
  font-size: 13px;
}

/*  */

.institutes-section {
  position: relative;
}

.left-content h2 {
  font-weight: 600;
  font-size: 32px;
}

.left-content span {
  color: #a51c30;
  font-weight: 700;
}

/* Teal Background Block */
.bg-shape {
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
  width: 200%;
  height: 250px;
  background: #1b5e73;
  z-index: 0;
}

/* Slider Card */
.card-slide {
  position: relative;
  overflow: hidden;
}

.card-slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* Overlay Text */
.overlay {
  position: absolute;
  bottom: 15px;
  width: 90%;
  right: 15px;
  padding: 15px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  text-align: center;
  font-size: 20px;
}

/* Custom Arrows */
.custom-nav .owl-prev,
.custom-nav .owl-next {
  background: #1b5e73;
  border: none;
  color: #fff;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
}

.custom-nav button:hover {
  background: #144a5a;
}

/* Custom Arrows */
.custom-nav .owl-prev,
.custom-nav .owl-next {
  background: #1b5e73c2;
  border: none;
  color: #fff;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
}

.custom-nav button:hover {
  background: #144a5a;
}
.custom-nav .owl-nav {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: -108px;
}
.studentImg {
  height: 100px;
  object-fit: contain;
}
.gapStudentName {
  border: solid 1px #095c7e;
  align-items: stretch;
}
.fs-001 {
  font-size: 10px;
  font-weight: normal;
}
.shadow {
  background-color: white !important;
}
.shadow .navbar .navbar-nav .nav-link {
  color: #000 !important;
}
.interface {
  object-fit: contain !important;
}
.b-left {
  border-left: solid 1px var(--yellow);
}

.programtitle {
  font-size: 22px;
  font-weight: 600;
}

.hrstyle {
  color: #fff !important;
  height: 2px;
}


/* programs section  */
.design-section {
  background: #f5f5f5;
}

/* Heading */
.section-title {
  font-weight: 700;
  font-size: 32px;
}

/* Banner */
.banner-wrapper {
  /* background: #fff; */
  position: relative;
}

.banner-left {
  background: #095c7e;
  color: #fff;
  padding: 97px;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.banner-left h3 {
  color: #fbb017;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-left p {
  margin: 5px 0;
}

/* Image */
.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Program Box */
.program-box {
  background: #fff;
  padding: 40px;
  border: 2px solid #ccc;
}

.program-box h5 {
  font-weight: 700;
}

/* Labels */
.label {
  color: #666;
  margin-bottom: 5px;
}

.value {
  font-weight: 600;
}

/* Divider */
.border-right-custom {
  border-right: 1px solid #999;
}
.program-img {
  position: absolute;
  right: 0;
}
.program-img img {
  height: 427px;
}

@media (max-width:767px){
  .banner-left {
  background: #095c7e;
  color: #fff;
  padding: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.program-img img {
    display:none;
}
}